<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ciecle_1n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1,356},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ciecle_1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{70,356},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_1s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{74,73},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_2n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{145,214},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_2s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{146,73},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{73,215},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_3n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{149,1},{70,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle_3s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,145},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{145,145},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_4n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_4s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{73,145},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle_4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_5n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,69}</string>
                <key>textureRect</key>
                <string>{{1,217},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_5s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{72,286},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,69}</string>
                <key>textureRect</key>
                <string>{{144,285},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_6n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,288},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_6s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{1,73},{71,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{139,356},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>circle.pvr.ccz</string>
            <key>size</key>
            <string>{217,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bdfc1c067349f59c413a76d777d2b2:5eca56ced5ef7baa0e64bc5609002a70:3f359dea6e8161e493199b0a8402f3c9$</string>
            <key>textureFileName</key>
            <string>circle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
